@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #d6d3d1;
    color: #44403c;
}

.hide {
    display: none;
}

.instructions {
    position: relative;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.auth-submit:disabled {
    background-color: #a1a1aa;
}